.progress
  .progress-bar.progress-bar-striped.progress-bar-animated{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 2%"}
#list_id= @list.sidekiq_status.job_id

%script{:src => "https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"}
%script{:src => "https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"}
%script{:src => "https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"}

:javascript
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAyn4L700DQny83ix5bbg13_amJLCEs6TU",
    authDomain: "raptor-fc7b8.firebaseapp.com",
    databaseURL: "https://raptor-fc7b8.firebaseio.com",
    projectId: "raptor-fc7b8",
    storageBucket: "raptor-fc7b8.appspot.com",
    messagingSenderId: "1028055780643"
  };
  firebase.initializeApp(config);
  firebase.database();

  list_id = $('#list_id').text()
  var starCountRef = firebase.database().ref('SidekiqJob/' + list_id);
  starCountRef.on('value', function(snapshot) {
    console.log(snapshot.val());
    if(snapshot.val() !== null) {
      progress_done = snapshot.val().status;
      $('.progress-bar-animated').attr('aria-valuenow', progress_done).css('width', progress_done+'%');
    }
  });